html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* LUCES */
#luces {
    display: flex;
    justify-content: center;
    gap: 120px;
    height: 40%;             
    align-items: center;    
}


#luz-roja, #luz-verde {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#luz-roja {
    border: 2px solid red;
}
#luz-verde {
    border: 2px solid green;
}

/* JUEGO */
#juego {
    flex-grow: 1;           
    display: flex;
    justify-content: center;
    align-items: center;
}

#punto-vivo-niña {
    display: flex;
    width: 1400px;
    justify-content: space-between;
    align-items: center;
}

#punto {
    background: rgb(234, 0, 255);
    color: white;
    padding: 30px 30px;
    border-radius: 100%;
    transition: transform 0.1s linear;
}

#niña {
    width: 220px;
    height: 300px;
    background: url("https://static.xtralife.com/conversions/PJCN-9XR4407234-medium_w640_h480_q75-figurayoungheedoll-1658321474.png") no-repeat center/contain;
    background-color: rgba(255, 192, 203, 0.603);
}

/* GAME OVER */
#game_over_pantalla {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 40px;
    z-index: 999; /*que salga por encima*/
}

#game_over_pantalla button {
    padding: 15px 30px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    background: #ff4444;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
    opacity: 0;
}
