<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/victoria_style.css" />
    <title>¡Derrota!</title>
  </head>
  <body>
    <div class="victory-container">
      <h1>¡TE HAN PILLADO!</h1>
      <p>Okomako te ha visto moviéndote. ¡Inténtalo de nuevo!</p>
      <button onclick="comenzarJuego()">Intentar otra vez</button>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>