<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Sonar</title>
  </head>
  <body>
    <h1>LUZ ROJA LUZ VERDE</h1>
    <div id="luces">
      <div id="luz-roja"></div>
      <button id="boton-cambiar-led"onclick="cambiarModo()">Cambiar</button>
      <div id="luz-verde"></div>
    </div>
    <div id="juego">
      <div id="punto-vivo-niña">
        <img id="nina" src="https://static.xtralife.com/conversions/PJCN-9XR4407234-medium_w640_h480_q75-figurayoungheedoll-1658321474.png" alt="Ninaokomako">
        <div id="punto"></div>
      </div>
    </div>
    <div id="botones">
        <button onclick="comenzarJuego()">Comenzar Juego</button>
        <button onclick="detenerJuego()">Detener Juego</button>
      </div>

  </body>
</html>

<script src="/static/js/script.js"></script>