<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/style.css" />
    <title>Sonar</title>
  </head>
  <body>
    <h1>LUZ ROJA LUZ VERDE</h1>
    <div id="luces">
      <div id="luz-roja"></div>
      <div id="luz-verde"></div>
      <button onclick="encenderVerde()">Encender LED Verde</button>
      <button onclick="apagarVerde()">Apagar LED Verde</button>
      <button onclick="encenderRojo()">Encender LED Rojo</button>
      <button onclick="apagarRojo()">Apagar LED Rojo</button>
    </div>
    <div id="juego">
      <div id="punto-vivo-niña">
        <div id="punto"></div>
        <div id="niña"></div>
      </div>
    </div>
    <div id="game_over_pantalla" class="hidden">
      <h2>GAME OVER</h2>
      <button id="boton_jugar">Jugar</button>
    </div>
  </body>
</html>

<script src="/static/js/script.js"></script>