<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/victoria_style.css" />
    <title>¡Victoria!</title>
</head>
<body>
    <div class="victory-container">
        <h1>¡VICTORIA!</h1>
        <p>¡Felicidades! Has llegado a Okomako sin ser detectado.</p>
        <button onclick="comenzarJuego()">Jugar de nuevo</button>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>