<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/victoria_style.css" />
    <title>Victoria Magistral</title>
  </head>
  <body>
    <div class="victory-container">
      <h1>¡Victoria Magistral!</h1>
      <p>¡Felicidades! Has completado el juego con éxito.</p>
      <button onclick="comenzarJuego()">Jugar de nuevo</button>
    </div>
  </body>
</html>